
/* TEST */
.wrapper {
    background-color: #ff0000;
}

body{
    color: purple;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

#navbar {
    background-color: green;
}
#navbar ul {
    padding: 20px;
    list-style: none;
    text-align: center;
}
#navbar li {
    display: inline;
}
#navbar a {
    color: red;
    background-color: rosybrown;
    text-decoration: overline;
    font-size: 20px;
    padding: 0px;
    margin: 10px;
    width: fit-content;
    /*display: block;*/
}
#home_icon {
    color: blue;
}
.button {
    background-color: red;
}
/*dropdown*/
/*dropdown button */
.droppy_1 {
    background-color: hotpink;
}
.droppy_1:hover, .droppy_1:focus {
    background-color: green;
}
.droppy_1:hover


/*following is test*/
.qwerty {
    width: 200px; height: 200px;
    float: right;
}
.qwerty:hover {
        background-color: yellow;
}
